{% extends 'base.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block body %}

    <body>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Expense</h5>
                    <a href="{{ path('expense_index', {'param': param}) }}">back to list</a>
                </div>
                <div class="modal-body">
                    {{ include('expense/_form.html.twig', {'button_label': 'Update'}) }}
                    {{ include('expense/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </body>
    <style>
        body{
            background: linear-gradient(to right bottom, #32c8dd, #00b7e7, #00a2f1, #008bf4, #126feb);
            background-repeat: no-repeat;
            padding-top: 9%;
            padding-bottom: 18%;
        }
    </style>
{% endblock %}
