{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    <h1>{{ param }}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('expense_index', {'param': param }) }}">Go to expense list</a>
{% endblock %}
