{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Create new User</h1>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{ include('user/_form.html.twig') }}
                <ul>
                    {% for user in users %}
                        <li>{{ user.name }}</li>
                    {% endfor %}
                </ul>
                <a class="text-white text-decoration-none" href="{{ path('expense_index', {'param': param }) }}"><button class="btn btn-primary ">Go to expense list</button></a>
            </div>
        </div>
    </div>

    <style>
        h1{
            color: white;
        }
        body{
            background: linear-gradient(to right bottom, #32c8dd, #00b7e7, #00a2f1, #008bf4, #126feb);
            background-repeat: no-repeat;
            padding-top: 13%;
            padding-bottom: 26%;
        }
    </style>
{% endblock %}
