{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('expense_index', {'param': param }) }}">Go to expense list</a>
{% endblock %}
